<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>随机密聊</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<link rel="stylesheet" href="css/style2.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/litewebchat.css" />
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($){
			'use strict';
			jQuery('body').backstretch([
				"images/bg/bg1.jpg",
				"images/bg/bg2.jpg",
				"images/bg/bg3.jpg"
			], {duration: 5000, fade: 500, centeredY: true });
		});
	</script>
</head>
<body>

<div class="wrapper" style="z-index: 9">
	<div class="container" style="padding: 0;">
       <div class="right" style="border: #c1c1c0a8 outset 5px;">
            <div class="top"><span>To: <span class="name">未知用户</span></span></div>
            <div class="chat" data-chat="person2">


				<div class="zhu">
             		<!-- 主容器 -->
             		<div class="lite-chatbox" id="UI">
						<div class="tips">
							<span class="tips-primary">系统消息：等待匹配中...</span>
						</div>
					</div>
				</div>

			</div>
			 <div class="write">
             <input type="text" style="width:90%;height:100%;" id="neirong" class="form-control" disabled>
			 <button type="button" class="btn btn-success" style="height: 100%;width: 10%;" onclick="send()">发送</button>
            </div>
        </div>
    </div>
</div>
</body>
<script  src="js/index.js"></script>
    <script src="js/main.js"></script>

</html>